In [1]:
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df= pd.read_csv('test.csv')

In [2]:
train_df.isna().sum()

ID                        0
Age                       0
Gender                    0
Education_Status          0
Employment_Status         0
Working_Week (Yearly)     0
Industry_Status           0
Occupation_Status         0
Race                      0
Hispanic_Origin           0
Martial_Status            0
Household_Status          0
Household_Summary         0
Citizenship               0
Birth_Country             0
Birth_Country (Father)    0
Birth_Country (Mother)    0
Tax_Status                0
Gains                     0
Losses                    0
Dividends                 0
Income_Status             0
Income                    0
dtype: int64

In [3]:
train_df['Birth_Country'].value_counts()

Birth_Country
US                              17825
Mexico                            540
Unknown                           330
Puerto-Rico                       117
Philippines                       112
Germany                            90
Canada                             75
El-Salvador                        68
Cuba                               58
India                              55
Dominican-Republic                 49
England                            47
Poland                             45
Jamaica                            45
Columbia                           36
Italy                              35
South Korea                        31
Vietnam                            31
Ecuador                            31
Japan                              30
Portugal                           29
Nicaragua                          28
China                              28
Guatemala                          28
Haiti                              25
Iran                               24
Peru                               22
Ireland                            21
Hong Kong                          16
Outlying-U S (Guam USVI etc)       15
France                             14
Honduras                           14
Greece                             13
Laos                               11
Taiwan                             11
Thailand                           10
Cambodia                            8
Trinadad&Tobago                     8
Yugoslavia                          7
Scotland                            7
Panama                              4
Hungary                             4
Holand-Netherlands                  3
Name: count, dtype: int64

In [4]:
from sklearn.preprocessing import LabelBinarizer

# Initialize the binary encoder
binarizer = LabelBinarizer()

# Function to apply binary encoding to a specified column in both train and test dataframes
def binary_encode_column(column_name):
    # Combine the column from both dataframes for fitting
    combined = pd.concat([train_df[column_name], test_df[column_name]], axis=0)
    
    # Fit the binarizer and transform the data
    combined_encoded = binarizer.fit_transform(combined)
    
    # Split the transformed data back into train and test sets
    train_encoded, test_encoded = combined_encoded[:len(train_df)], combined_encoded[len(train_df):]
    
    # Create new dataframe for the encoded columns
    train_encoded_df = pd.DataFrame(train_encoded, columns=[f"{column_name}_{i}" for i in range(train_encoded.shape[1])])
    test_encoded_df = pd.DataFrame(test_encoded, columns=[f"{column_name}_{i}" for i in range(test_encoded.shape[1])])
    
    # Drop the original column from train and test dataframes
    train_df.drop(columns=[column_name], inplace=True)
    test_df.drop(columns=[column_name], inplace=True)
    
    # Concatenate the new encoded dataframe to the original dataframes
    new_train_df = pd.concat([train_df, train_encoded_df], axis=1)
    new_test_df = pd.concat([test_df, test_encoded_df], axis=1)
    
    return new_train_df, new_test_df

# Apply binary encoding to the specified columns
for column in ["Birth_Country", "Birth_Country (Father)", "Birth_Country (Mother)"]:
    train_df, test_df = binary_encode_column(column)

# Display the first few rows of the modified datasets to verify changes
train_df.head(), test_df.head()

(            ID  Age Gender                Education_Status Employment_Status  \
 0  TRAIN_00000   63      M                    Middle (7-8)         Full-Time
 1  TRAIN_00001   37      M  Associates degree (Vocational)         Full-Time
 2  TRAIN_00002   58      F                   High graduate         Full-Time
 3  TRAIN_00003   44      M                   High graduate         Full-Time
 4  TRAIN_00004   37      F                   High graduate         Full-Time

    Working_Week (Yearly)              Industry_Status  \
 0                      4              Social Services
 1                     52                Entertainment
 2                     52  Manufacturing (Non-durable)
 3                     52                       Retail
 4                     52                       Retail

                   Occupation_Status   Race Hispanic_Origin  ...  \
 0                          Services  White       All other  ...
 1                          Services  White       All other  ...
 2  Admin Support (include Clerical)  Black       All other  ...
 3             Technicians & Support  White       All other  ...
 4                             Sales  White       All other  ...

   Birth_Country (Mother)_33 Birth_Country (Mother)_34  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_35 Birth_Country (Mother)_36  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_37  Birth_Country (Mother)_38  \
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

    Birth_Country (Mother)_39  Birth_Country (Mother)_40  \
 0                          1                          0
 1                          1                          0
 2                          1                          0
 3                          1                          0
 4                          1                          0

   Birth_Country (Mother)_41  Birth_Country (Mother)_42
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

 [5 rows x 149 columns],
           ID  Age Gender                Education_Status  \
 0  TEST_0000   79      M                     High Junior
 1  TEST_0001   47      M                Elementary (5-6)
 2  TEST_0002   18      F                     High Junior
 3  TEST_0003   39      F  Associates degree (Vocational)
 4  TEST_0004    6      M                        Children

           Employment_Status  Working_Week (Yearly)  \
 0  Children or Armed Forces                      0
 1  Children or Armed Forces                      0
 2  Children or Armed Forces                     52
 3                 Full-Time                     30
 4  Children or Armed Forces                      0

                Industry_Status Occupation_Status   Race    Hispanic_Origin  \
 0  Not in universe or children           Unknown  White          All other
 1  Not in universe or children           Unknown  White      Other Spanish
 2                       Retail          Services  White          All other
 3   Medical (except Hospitals)          Services  White          All other
 4  Not in universe or children           Unknown  White   Mexican-American

    ... Birth_Country (Mother)_33 Birth_Country (Mother)_34  \
 0  ...                         0                         0
 1  ...                         0                         0
 2  ...                         0                         0
 3  ...                         0                         0
 4  ...                         0                         0

   Birth_Country (Mother)_35 Birth_Country (Mother)_36  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_37  Birth_Country (Mother)_38  \
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

    Birth_Country (Mother)_39  Birth_Country (Mother)_40  \
 0                          0                          1
 1                          1                          0
 2                          1                          0
 3                          1                          0
 4                          1                          0

   Birth_Country (Mother)_41  Birth_Country (Mother)_42
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

 [5 rows x 148 columns])

In [5]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder 객체 생성
label_encoder = LabelEncoder()

# train 데이터셋의 Education_Status 열을 라벨 인코딩
train_df['Education_Status'] = label_encoder.fit_transform(train_df['Education_Status'])

# test 데이터셋의 Education_Status 열을 라벨 인코딩
test_df['Education_Status'] = label_encoder.transform(test_df['Education_Status'])

# Display the first few rows of the modified datasets to verify changes
train_df.head(), test_df.head()

(            ID  Age Gender  Education_Status Employment_Status  \
 0  TRAIN_00000   63      M                15         Full-Time
 1  TRAIN_00001   37      M                 1         Full-Time
 2  TRAIN_00002   58      F                12         Full-Time
 3  TRAIN_00003   44      M                12         Full-Time
 4  TRAIN_00004   37      F                12         Full-Time

    Working_Week (Yearly)              Industry_Status  \
 0                      4              Social Services
 1                     52                Entertainment
 2                     52  Manufacturing (Non-durable)
 3                     52                       Retail
 4                     52                       Retail

                   Occupation_Status   Race Hispanic_Origin  ...  \
 0                          Services  White       All other  ...
 1                          Services  White       All other  ...
 2  Admin Support (include Clerical)  Black       All other  ...
 3             Technicians & Support  White       All other  ...
 4                             Sales  White       All other  ...

   Birth_Country (Mother)_33 Birth_Country (Mother)_34  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_35 Birth_Country (Mother)_36  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_37  Birth_Country (Mother)_38  \
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

    Birth_Country (Mother)_39  Birth_Country (Mother)_40  \
 0                          1                          0
 1                          1                          0
 2                          1                          0
 3                          1                          0
 4                          1                          0

   Birth_Country (Mother)_41  Birth_Country (Mother)_42
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

 [5 rows x 149 columns],
           ID  Age Gender  Education_Status         Employment_Status  \
 0  TEST_0000   79      M                 9  Children or Armed Forces
 1  TEST_0001   47      M                 7  Children or Armed Forces
 2  TEST_0002   18      F                 9  Children or Armed Forces
 3  TEST_0003   39      F                 1                 Full-Time
 4  TEST_0004    6      M                 3  Children or Armed Forces

    Working_Week (Yearly)              Industry_Status Occupation_Status  \
 0                      0  Not in universe or children           Unknown
 1                      0  Not in universe or children           Unknown
 2                     52                       Retail          Services
 3                     30   Medical (except Hospitals)          Services
 4                      0  Not in universe or children           Unknown

     Race    Hispanic_Origin  ... Birth_Country (Mother)_33  \
 0  White          All other  ...                         0
 1  White      Other Spanish  ...                         0
 2  White          All other  ...                         0
 3  White          All other  ...                         0
 4  White   Mexican-American  ...                         0

   Birth_Country (Mother)_34 Birth_Country (Mother)_35  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_36 Birth_Country (Mother)_37  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    Birth_Country (Mother)_38  Birth_Country (Mother)_39  \
 0                          0                          0
 1                          0                          1
 2                          0                          1
 3                          0                          1
 4                          0                          1

    Birth_Country (Mother)_40 Birth_Country (Mother)_41  \
 0                          1                         0
 1                          0                         0
 2                          0                         0
 3                          0                         0
 4                          0                         0

    Birth_Country (Mother)_42
 0                          0
 1                          0
 2                          0
 3                          0
 4                          0

 [5 rows x 148 columns])

In [6]:
# 성별 변수 변환: 남성('M')은 1, 여성('F')은 0
train_df['Gender'] = train_df['Gender'].map({'M': 1, 'F': 0})
test_df['Gender'] = test_df['Gender'].map({'M': 1, 'F': 0})

# 변환 후 데이터 확인
train_df.head(), test_df.head()

(            ID  Age  Gender  Education_Status Employment_Status  \
 0  TRAIN_00000   63       1                15         Full-Time
 1  TRAIN_00001   37       1                 1         Full-Time
 2  TRAIN_00002   58       0                12         Full-Time
 3  TRAIN_00003   44       1                12         Full-Time
 4  TRAIN_00004   37       0                12         Full-Time

    Working_Week (Yearly)              Industry_Status  \
 0                      4              Social Services
 1                     52                Entertainment
 2                     52  Manufacturing (Non-durable)
 3                     52                       Retail
 4                     52                       Retail

                   Occupation_Status   Race Hispanic_Origin  ...  \
 0                          Services  White       All other  ...
 1                          Services  White       All other  ...
 2  Admin Support (include Clerical)  Black       All other  ...
 3             Technicians & Support  White       All other  ...
 4                             Sales  White       All other  ...

   Birth_Country (Mother)_33 Birth_Country (Mother)_34  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_35 Birth_Country (Mother)_36  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_37  Birth_Country (Mother)_38  \
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

    Birth_Country (Mother)_39  Birth_Country (Mother)_40  \
 0                          1                          0
 1                          1                          0
 2                          1                          0
 3                          1                          0
 4                          1                          0

   Birth_Country (Mother)_41  Birth_Country (Mother)_42
 0                         0                          0
 1                         0                          0
 2                         0                          0
 3                         0                          0
 4                         0                          0

 [5 rows x 149 columns],
           ID  Age  Gender  Education_Status         Employment_Status  \
 0  TEST_0000   79       1                 9  Children or Armed Forces
 1  TEST_0001   47       1                 7  Children or Armed Forces
 2  TEST_0002   18       0                 9  Children or Armed Forces
 3  TEST_0003   39       0                 1                 Full-Time
 4  TEST_0004    6       1                 3  Children or Armed Forces

    Working_Week (Yearly)              Industry_Status Occupation_Status  \
 0                      0  Not in universe or children           Unknown
 1                      0  Not in universe or children           Unknown
 2                     52                       Retail          Services
 3                     30   Medical (except Hospitals)          Services
 4                      0  Not in universe or children           Unknown

     Race    Hispanic_Origin  ... Birth_Country (Mother)_33  \
 0  White          All other  ...                         0
 1  White      Other Spanish  ...                         0
 2  White          All other  ...                         0
 3  White          All other  ...                         0
 4  White   Mexican-American  ...                         0

   Birth_Country (Mother)_34 Birth_Country (Mother)_35  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

   Birth_Country (Mother)_36 Birth_Country (Mother)_37  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    Birth_Country (Mother)_38  Birth_Country (Mother)_39  \
 0                          0                          0
 1                          0                          1
 2                          0                          1
 3                          0                          1
 4                          0                          1

    Birth_Country (Mother)_40 Birth_Country (Mother)_41  \
 0                          1                         0
 1                          0                         0
 2                          0                         0
 3                          0                         0
 4                          0                         0

    Birth_Country (Mother)_42
 0                          0
 1                          0
 2                          0
 3                          0
 4                          0

 [5 rows x 148 columns])

In [7]:
columns_to_encode = ["Employment_Status", "Industry_Status", "Occupation_Status", 
                     "Race", "Hispanic_Origin", "Martial_Status", "Household_Summary", 
                     "Citizenship", "Tax_Status","Income_Status"]

from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder 객체 생성
one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')

# 주어진 변수들을 선택하여 train 데이터셋에 대해 원핫인코딩 적용
train_encoded = one_hot_encoder.fit_transform(train_df[columns_to_encode])

# 생성된 원핫인코딩된 배열을 DataFrame으로 변환
train_encoded_df = pd.DataFrame(train_encoded, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))

# 기존 train 데이터셋에서 선택한 변수들 제거
train_df.drop(columns=columns_to_encode, inplace=True)

# 새로운 원핫인코딩된 DataFrame과 기존 train 데이터셋을 결합
train_df = pd.concat([train_df, train_encoded_df], axis=1)

# test 데이터셋에 대해 같은 변환 적용
test_encoded = one_hot_encoder.transform(test_df[columns_to_encode])
test_encoded_df = pd.DataFrame(test_encoded, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))
test_df.drop(columns=columns_to_encode, inplace=True)
test_df = pd.concat([test_df, test_encoded_df], axis=1)

# 변환 후 데이터 확인
train_df.head(), test_df.head()

(            ID  Age  Gender  Education_Status  Working_Week (Yearly)  \
 0  TRAIN_00000   63       1                15                      4
 1  TRAIN_00001   37       1                 1                     52
 2  TRAIN_00002   58       0                12                     52
 3  TRAIN_00003   44       1                12                     52
 4  TRAIN_00004   37       0                12                     52

         Household_Status  Gains  Losses  Dividends  Income  ...  \
 0            Householder      0       0          0     425  ...
 1  Nonfamily householder      0       0          0       0  ...
 2            Householder   3411       0          0     860  ...
 3  Nonfamily householder      0       0          0     850  ...
 4            Householder      0       0          0     570  ...

    Citizenship_Native  Citizenship_Native (Born Abroad)  \
 0                 1.0                               0.0
 1                 1.0                               0.0
 2                 1.0                               0.0
 3                 1.0                               0.0
 4                 1.0                               0.0

    Citizenship_Native (Born in Puerto Rico or US Outlying)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Married Filling Jointly both over 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Married Filling Jointly both under 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                1.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Married Filling Jointly one over 65 & one under 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Nonfiler  Tax_Status_Single  Income_Status_Under Median  \
 0                  1.0                0.0                         0.0
 1                  0.0                1.0                         1.0
 2                  0.0                0.0                         1.0
 3                  0.0                1.0                         1.0
 4                  0.0                0.0                         0.0

    Income_Status_Unknown
 0                    1.0
 1                    0.0
 2                    0.0
 3                    0.0
 4                    1.0

 [5 rows x 220 columns],
           ID  Age  Gender  Education_Status  Working_Week (Yearly)  \
 0  TEST_0000   79       1                 9                      0
 1  TEST_0001   47       1                 7                      0
 2  TEST_0002   18       0                 9                     52
 3  TEST_0003   39       0                 1                     30
 4  TEST_0004    6       1                 3                      0

                           Household_Status  Gains  Losses  Dividends  \
 0                    Nonfamily householder      0       0          0
 1  Child 18+ never marr Not in a subfamily      0       0          0
 2  Child 18+ never marr Not in a subfamily      0       0          0
 3                    Spouse of householder      0       0          0
 4    Child <18 never marr not in subfamily      0       0          0

    Birth_Country_0  ...  Citizenship_Native  Citizenship_Native (Born Abroad)  \
 0                0  ...                 1.0                               0.0
 1                0  ...                 1.0                               0.0
 2                0  ...                 1.0                               0.0
 3                0  ...                 1.0                               0.0
 4                0  ...                 1.0                               0.0

    Citizenship_Native (Born in Puerto Rico or US Outlying)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Married Filling Jointly both over 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Married Filling Jointly both under 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                1.0
 4                                                0.0

    Tax_Status_Married Filling Jointly one over 65 & one under 65 (MFJ)  \
 0                                                0.0
 1                                                0.0
 2                                                0.0
 3                                                0.0
 4                                                0.0

    Tax_Status_Nonfiler  Tax_Status_Single  Income_Status_Under Median  \
 0                  0.0                1.0                         1.0
 1                  1.0                0.0                         1.0
 2                  0.0                1.0                         1.0
 3                  0.0                0.0                         0.0
 4                  1.0                0.0                         0.0

    Income_Status_Unknown
 0                    0.0
 1                    0.0
 2                    0.0
 3                    1.0
 4                    1.0

 [5 rows x 219 columns])

In [8]:
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler()

# train 데이터셋에 대해 표준화 수행
train_df[['Age', 'Working_Week (Yearly)', 'Gains', 'Losses', 'Dividends']] = scaler.fit_transform(train_df[['Age', 'Working_Week (Yearly)', 'Gains', 'Losses', 'Dividends']])

# test 데이터셋에 대해 같은 변환 적용
test_df[['Age', 'Working_Week (Yearly)', 'Gains', 'Losses', 'Dividends']] = scaler.transform(test_df[['Age', 'Working_Week (Yearly)', 'Gains', 'Losses', 'Dividends']])

In [9]:
import numpy as np

# 새로운 변수 생성
train_df['Age_Working_Week'] = train_df['Age'] + train_df['Working_Week (Yearly)']
train_df['Gains_Losses'] = train_df['Gains'] - train_df['Losses']
train_df['Age_Dividends'] = train_df['Age'] * train_df['Dividends']
train_df['Working_Week_Gains'] = train_df['Working_Week (Yearly)'] / train_df['Gains']
train_df['Age_Losses'] = train_df['Age'] - train_df['Losses']
train_df['Working_Week_Dividends'] = train_df['Working_Week (Yearly)'] * train_df['Dividends']
train_df['Age_Gains'] = train_df['Age'] / train_df['Gains']
train_df['Gains_Dividends'] = train_df['Gains'] * train_df['Dividends']
train_df['Age_Gains_Losses'] = train_df['Age'] * train_df['Gains'] / train_df['Losses']
train_df['Working_Week_Losses'] = train_df['Working_Week (Yearly)'] - train_df['Losses']
train_df['Age_Working_Week_Gains'] = train_df['Age'] + train_df['Working_Week (Yearly)'] * train_df['Gains']
train_df['Working_Week_Gains_Losses'] = train_df['Working_Week (Yearly)'] * train_df['Gains'] - train_df['Losses']
train_df['Age_Working_Week_Dividends'] = train_df['Age'] - train_df['Working_Week (Yearly)'] / train_df['Dividends']
train_df['Gains_Losses_Dividends'] = train_df['Gains'] / train_df['Losses'] * train_df['Dividends']
train_df['Age_Working_Week_Gains_Losses'] = train_df['Age'] * train_df['Working_Week (Yearly)'] / train_df['Gains'] + train_df['Losses']

# test 데이터셋에도 같은 작업을 수행
test_df['Age_Working_Week'] = test_df['Age'] + test_df['Working_Week (Yearly)']
test_df['Gains_Losses'] = test_df['Gains'] - test_df['Losses']
test_df['Age_Dividends'] = test_df['Age'] * test_df['Dividends']
test_df['Working_Week_Gains'] = test_df['Working_Week (Yearly)'] / test_df['Gains']
test_df['Age_Losses'] = test_df['Age'] - test_df['Losses']
test_df['Working_Week_Dividends'] = test_df['Working_Week (Yearly)'] * test_df['Dividends']
test_df['Age_Gains'] = test_df['Age'] / test_df['Gains']
test_df['Gains_Dividends'] = test_df['Gains'] * test_df['Dividends']
test_df['Age_Gains_Losses'] = test_df['Age'] * test_df['Gains'] / test_df['Losses']
test_df['Working_Week_Losses'] = test_df['Working_Week (Yearly)'] - test_df['Losses']
test_df['Age_Working_Week_Gains'] = test_df['Age'] + test_df['Working_Week (Yearly)'] * test_df['Gains']
test_df['Working_Week_Gains_Losses'] = test_df['Working_Week (Yearly)'] * test_df['Gains'] - test_df['Losses']
test_df['Age_Working_Week_Dividends'] = test_df['Age'] - test_df['Working_Week (Yearly)'] / test_df['Dividends']
test_df['Gains_Losses_Dividends'] = test_df['Gains'] / test_df['Losses'] * test_df['Dividends']
test_df['Age_Working_Week_Gains_Losses'] = test_df['Age'] * test_df['Working_Week (Yearly)'] / test_df['Gains'] + test_df['Losses']

In [10]:
# train_df에서 Income 변수를 y_train으로 할당
y_train = train_df['Income']

# train_df에서 ID, Household_Status, Income 변수 제거
train_df.drop(columns=['ID', 'Household_Status', 'Income'], inplace=True)

# test_df에서 ID, Household_Status 변수 제거
test_df.drop(columns=['ID', 'Household_Status'], inplace=True)

In [11]:
from catboost import CatBoostRegressor

# CatBoost 회귀 모델 정의
catboost_model = CatBoostRegressor(random_state=2024, n_estimators=100, max_depth=10)

# 모델 학습
catboost_model.fit(train_df, y_train)

Learning rate set to 0.427309
0:	learn: 642.3970756	total: 217ms	remaining: 21.5s
1:	learn: 617.6833654	total: 271ms	remaining: 13.3s
2:	learn: 603.2986584	total: 311ms	remaining: 10.1s
3:	learn: 595.3495096	total: 348ms	remaining: 8.34s
4:	learn: 588.8414652	total: 385ms	remaining: 7.32s
5:	learn: 584.5929327	total: 421ms	remaining: 6.59s
6:	learn: 580.4369381	total: 456ms	remaining: 6.05s
7:	learn: 575.8509949	total: 492ms	remaining: 5.66s
8:	learn: 571.5362649	total: 527ms	remaining: 5.32s
9:	learn: 568.2374598	total: 561ms	remaining: 5.05s
10:	learn: 565.6118259	total: 596ms	remaining: 4.82s
11:	learn: 562.1663320	total: 631ms	remaining: 4.63s
12:	learn: 560.2428685	total: 670ms	remaining: 4.48s
13:	learn: 559.1148775	total: 704ms	remaining: 4.33s
14:	learn: 555.6730229	total: 738ms	remaining: 4.18s
15:	learn: 553.7604789	total: 771ms	remaining: 4.05s
16:	learn: 552.2516971	total: 806ms	remaining: 3.94s
17:	learn: 549.3242445	total: 841ms	remaining: 3.83s
18:	learn: 546.8768730	total: 877ms	remaining: 3.74s
19:	learn: 544.4072317	total: 919ms	remaining: 3.67s
20:	learn: 541.3919286	total: 956ms	remaining: 3.6s
21:	learn: 537.8225811	total: 994ms	remaining: 3.52s
22:	learn: 535.9954680	total: 1.03s	remaining: 3.47s
23:	learn: 533.8830573	total: 1.07s	remaining: 3.4s
24:	learn: 531.8886600	total: 1.11s	remaining: 3.33s
25:	learn: 530.2674223	total: 1.14s	remaining: 3.25s
26:	learn: 529.0558909	total: 1.18s	remaining: 3.18s
27:	learn: 527.6222471	total: 1.21s	remaining: 3.11s
28:	learn: 526.2802164	total: 1.24s	remaining: 3.04s
29:	learn: 524.8789627	total: 1.28s	remaining: 2.98s
30:	learn: 522.9630290	total: 1.31s	remaining: 2.93s
31:	learn: 521.2770868	total: 1.35s	remaining: 2.86s
32:	learn: 519.4579156	total: 1.38s	remaining: 2.81s
33:	learn: 518.1830760	total: 1.42s	remaining: 2.76s
34:	learn: 515.7042949	total: 1.46s	remaining: 2.71s
35:	learn: 513.0531191	total: 1.5s	remaining: 2.66s
36:	learn: 512.4755560	total: 1.53s	remaining: 2.61s
37:	learn: 511.1508175	total: 1.57s	remaining: 2.56s
38:	learn: 509.2678286	total: 1.6s	remaining: 2.51s
39:	learn: 507.7305992	total: 1.64s	remaining: 2.46s
40:	learn: 506.0624071	total: 1.68s	remaining: 2.41s
41:	learn: 505.0713498	total: 1.71s	remaining: 2.37s
42:	learn: 503.6982655	total: 1.75s	remaining: 2.32s
43:	learn: 501.6465562	total: 1.79s	remaining: 2.27s
44:	learn: 500.0898542	total: 1.82s	remaining: 2.23s
45:	learn: 498.1229994	total: 1.85s	remaining: 2.18s
46:	learn: 496.7415318	total: 1.89s	remaining: 2.13s
47:	learn: 495.3599070	total: 1.93s	remaining: 2.09s
48:	learn: 494.0338435	total: 1.96s	remaining: 2.04s
49:	learn: 492.9325932	total: 2s	remaining: 2s
50:	learn: 491.8189352	total: 2.04s	remaining: 1.96s
51:	learn: 490.8551652	total: 2.08s	remaining: 1.92s
52:	learn: 490.1338732	total: 2.11s	remaining: 1.87s
53:	learn: 488.7767845	total: 2.14s	remaining: 1.83s
54:	learn: 487.9437175	total: 2.18s	remaining: 1.78s
55:	learn: 484.8862318	total: 2.22s	remaining: 1.74s
56:	learn: 482.9776580	total: 2.25s	remaining: 1.7s
57:	learn: 481.3916288	total: 2.29s	remaining: 1.66s
58:	learn: 479.3301494	total: 2.32s	remaining: 1.61s
59:	learn: 478.4796289	total: 2.36s	remaining: 1.57s
60:	learn: 477.0135713	total: 2.39s	remaining: 1.53s
61:	learn: 475.8298452	total: 2.43s	remaining: 1.49s
62:	learn: 474.6381151	total: 2.46s	remaining: 1.45s
63:	learn: 473.9770797	total: 2.5s	remaining: 1.41s
64:	learn: 473.4528047	total: 2.53s	remaining: 1.36s
65:	learn: 471.3854745	total: 2.57s	remaining: 1.32s
66:	learn: 470.3236448	total: 2.6s	remaining: 1.28s
67:	learn: 468.0315952	total: 2.64s	remaining: 1.24s
68:	learn: 467.1732460	total: 2.67s	remaining: 1.2s
69:	learn: 466.6189751	total: 2.7s	remaining: 1.16s
70:	learn: 465.8416041	total: 2.74s	remaining: 1.12s
71:	learn: 464.3806894	total: 2.77s	remaining: 1.08s
72:	learn: 461.3271131	total: 2.81s	remaining: 1.04s
73:	learn: 460.3971452	total: 2.85s	remaining: 1s
74:	learn: 459.3768330	total: 2.88s	remaining: 960ms
75:	learn: 457.5189036	total: 2.91s	remaining: 920ms
76:	learn: 456.9241879	total: 2.95s	remaining: 881ms
77:	learn: 456.2768365	total: 2.98s	remaining: 841ms
78:	learn: 455.1459221	total: 3.01s	remaining: 801ms
79:	learn: 453.9304866	total: 3.05s	remaining: 762ms
80:	learn: 453.4819489	total: 3.08s	remaining: 723ms
81:	learn: 450.8761375	total: 3.12s	remaining: 684ms
82:	learn: 449.7672564	total: 3.15s	remaining: 646ms
83:	learn: 449.5975564	total: 3.19s	remaining: 607ms
84:	learn: 446.9314537	total: 3.22s	remaining: 569ms
85:	learn: 445.3185999	total: 3.26s	remaining: 530ms
86:	learn: 444.2932143	total: 3.29s	remaining: 492ms
87:	learn: 443.8412979	total: 3.33s	remaining: 455ms
88:	learn: 442.5538732	total: 3.37s	remaining: 416ms
89:	learn: 441.7183685	total: 3.41s	remaining: 379ms
90:	learn: 439.6489772	total: 3.44s	remaining: 341ms
91:	learn: 438.7458972	total: 3.48s	remaining: 303ms
92:	learn: 437.8159125	total: 3.52s	remaining: 265ms
93:	learn: 437.4035886	total: 3.56s	remaining: 227ms
94:	learn: 436.0736424	total: 3.59s	remaining: 189ms
95:	learn: 435.6597111	total: 3.63s	remaining: 151ms
96:	learn: 434.7560489	total: 3.67s	remaining: 113ms
97:	learn: 433.9427835	total: 3.7s	remaining: 75.5ms
98:	learn: 433.2608947	total: 3.74s	remaining: 37.8ms
99:	learn: 432.9737233	total: 3.77s	remaining: 0us

In [12]:
# 테스트 세트에 대한 예측 수행
y_pred = catboost_model.predict(test_df)

In [13]:
y_pred

array([-44.40838773,   5.79259318, 412.3001848 , ..., 360.95477258,
        -5.19716657, 647.16590599])

In [14]:
submit = pd.read_csv("sample_submission.csv")

In [15]:
submit['Income'] =y_pred
submit

             ID      Income
0     TEST_0000  -44.408388
1     TEST_0001    5.792593
2     TEST_0002  412.300185
3     TEST_0003  910.106734
4     TEST_0004   -2.726184
...         ...         ...
9995  TEST_9995  976.053662
9996  TEST_9996  725.264769
9997  TEST_9997  360.954773
9998  TEST_9998   -5.197167
9999  TEST_9999  647.165906

[10000 rows x 2 columns]

In [16]:
submit.to_csv('catboost1.csv', index=False)